<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!-- 加载外部配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
   	<!-- 配置dataSource -->
   	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
   		<property name="driverClass" value="${jdbc.driver}"/>
   		<property name="jdbcUrl" value="${jdbc.url}"/>
   		<property name="user" value="${jdbc.username}"/>
   		<property name="password" value="${jdbc.password}"/>
   	</bean>
   	
    <!-- 配置sessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"/>
    	<property name="hibernateProperties">
    		<props>
    			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
    			<prop key="hibernate.show_sql">true</prop>
    			<prop key="hibernate.format_sql">true</prop>
    			<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
    		</props>
    	</property>
    	<property name="mappingResources">
    		<list>
    			<value>com/itheima/crm/domain/customer.hbm.xml</value>
    			<value>com/itheima/crm/domain/user.hbm.xml</value>
    			<value>com/itheima/crm/domain/basedict.hbm.xml</value>
    			<value>com/itheima/crm/domain/customerdetail.hbm.xml</value>
    		</list>
    	</property>
    </bean>
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    
    <!-- 配置action -->
    <bean id="customerAction" class="com.itheima.crm.web.action.CustomerAction">
    	<property name="customerService" ref="customerService"/>
    </bean>
    <bean id="userAction" class="com.itheima.crm.web.action.UserAction">
    	<property name="userService" ref="userService"/>
    </bean>
    
    <!-- 配置service -->
    <bean id="customerService" class="com.itheima.crm.service.impl.CustomerServiceImpl">
    	<property name="customerDao" ref="customerDao"/>
    </bean>
    <bean id="userService" class="com.itheima.crm.service.impl.UserServiceImpl">
    	<property name="userDao" ref="userDao"/>
    </bean>
     
    <!-- 配置dao -->
    <bean id="customerDao" class="com.itheima.crm.dao.impl.CustomerDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userDao" class="com.itheima.crm.dao.impl.UserDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- 配置数据字典模块的bean -->
    <bean name="basedictAction" class="com.itheima.crm.web.action.BasedictAction" scope="prototype">
    	<property name="basedictService" ref="basedictService"/>
    </bean>
    <bean name="basedictService" class="com.itheima.crm.service.impl.BasedictServiceImpl">
    	<property name="basedictDao" ref="basedictDao"/>
    </bean>
    <bean name="basedictDao" class="com.itheima.crm.dao.impl.BasedictDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 配置客户详细信息模块bean -->
    <bean name="customerDetailAction" class="com.itheima.crm.web.action.CustomerDetaiAction">
    	<property name="customerDetailService" ref="customerDetailService"/>	
    </bean>
    <bean name="customerDetailService" class="com.itheima.crm.service.impl.CustomerDetailServiceImpl">
    	<property name="customerDetailDao" ref="customerDetailDao"/>
    	<property name="customerDao" ref="customerDao"/>
    </bean>
    <bean name="customerDetailDao" class="com.itheima.crm.dao.impl.CustomerDetailDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>